<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Page Change</h1>
        </header>
        <section class="content">
            <p>Compteur actuel : {{.Counter}}</p>
            <p class="{{if .Even}}even{{else}}odd{{end}}">{{.Message}}</p>
        </section>
    </div>
</body>
</html>
